:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--chakra-colors-chakra-body-bg, #fff);
  color: var(--chakra-colors-chakra-body-text, #171717);
  font-family: Arial, Helvetica, sans-serif;
}
